body{
	background-color: #8e9d17;
}
.container{
	display: flex;
	font-family: Kaushan Script;
	justify-content: center;
	border-bottom: 2px solid black;
}
header img{
	width: 60px;
	height: 60px;
}
.carte{
	display: flex;
	font-family: Dancing Script;
	font-size: 25px;
}
section{
	display: flex;
	margin-bottom: 20px;
}
article{
	margin-right: 15px;
	flex: 3;
	font-family: Dancing Script;
	font-size: 20px;
	text-align: justify;
}
article p{
	text-indent: 2em;
	padding-left: 1em;
	padding-right: 1em;
}
aside{
	flex: 1;
	border-radius: 6px;
	background-color: #bdce38;
    box-shadow: 0px 2px 5px black;
}



aside img{
	width: 150px;
	height: 150px;
}	
figure{
	font-family: Kaushan Script;
}
.lien h1{
	font-family: Kaushan Script;
	font-size: 20px;
	text-align: center;
}
footer{
	border-top: 2px solid black;
}
p{
	padding-left: 100px;
	font-family: Kaushan Script;
	font-size: 20px;
}
